// Layout containers

.container
  margin: 3em 1em

.item-list
  display: flex
  flex-wrap: wrap
  list-style-type: none
  li
    +tile
    flex: 1 1 25em
    margin: 1em
    display: flex
    align-items: center
    .item-avatar
      margin-right: 1em
      img
        display: block
    .item
      min-width: 9em //temporary
      padding-right: 1%
      .item-title
        font-size: $size-m
        .update
          font-size: $size-xs

#item-header
  +content
  display: flex
  #item-header-avatar
    width: 20%
    margin: 2em 3%
    img
      width: 100%
      height: auto
    #item-buttons
      text-align: center

#item-body > #bbpress-forums,
  +content

