// Masthead
#main-site-header
  display: block
  text-align: center
  padding: 3em 1em 0
  background-color: white
  .brand
    font-size: $size-xl
    margin-top: 1em
    font-weight: $header-bold
    color: #333
    white-space: nowrap
  nav
    +tabs
    font-size: $size-m
    margin-bottom: 0
    a
      color: #333
      &hover
        border-bottom: 2px solid $flat-white
