#secondary-nav
  padding: 5%
  .row
    display: flex
    justify-content: space-between  // this puts each element on either side
    align-items: baseline

// Testing. Remove this.
.page-header
  display: none

#main-site-header nav ul
  margin: 0

nav.secondary, #item-nav, .item-list-tabs
  background-color: $flat-normal-blueish-color
  text-align: center
  padding: 0.5em 1em 0em
  li
    display: inline
    font-size: $size-m
    margin: 1em 1em 0
    a
      color: $flat-white
      &:hover,
        border-bottom: 2px solid $flat-white
