nav.secondary, #item-nav, .item-list-tabs
  +tabs($color: white)
  font-family: $header-font-family
  font-size: $size-vs
  background-color: $nav-secondary-background-color
  text-align: center
  li
    display: inline
    font-size: $size-m
    margin: 1em 0.2em 0

nav.tertiary, #item-body #subnav // tertiary nav
  font-family: $header-font-family
  font-size: $size-vs
  background-color: $nav-tertiary-background-color
  label
    color: $nav-text-color
