#whats-new-content
  padding: 2%

#whats-new-textarea, #whats-new-post-in-box
  display: flex
  align-items: center
  justify-content: center
  .button
    min-height: 25px

textarea#whats-new,
  // This matches the height that JS collapses this textbox to.
  // If you change this, make sure to change it in the JS, too.
  height: 20px

