// Discussions (forums in groups).


// Topics list (list of forum threads)
#bbp-searchform
  text-align: center
  margin-bottom: 2em
  input
    width: 80%
    max-width: 35em

.bbp-topics, .bbp-replies
  li
    list-style-type: none

.bbp-pagination
  @extend .pagination

// Replies list (expanded single thread)
form#new-post legend
  font-size: $size-l

#bbpress-forums > h3,
.bbp-topic-tags
  text-align: center

